{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%if title %}
    <title>News Blog - {{title}}</title>
    {%else%}
    <title>News Blog</title>
    {%endif%}
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'news/main.css' %}" />
  </head>
  <body>
    {%include 'news/includes/nav.jinja'%}
    <div class="container">
      <!-- DISPLAY MESSAGES -->
      {%if messages%} {%for message in messages%}
      <div class="message">
        <div class="{{message.tag}}">{{message}}</div>
      </div>
      {%endfor%} {%endif%}
      <div class="container">{%block content%} {%endblock%}</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
