{% extends 'news/base.jinja'%} 
{%block content%} 
<h3> Posts by {{view.kwargs.username}} | ({{page_obj.paginator.count}})</h3>
{%for post in posts %}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        
        <img src="{{ post.author.profile.image.url}}" alt=""/>
        
        <span class="card-title"> <a href="{%url 'post-detail' post.id %}">{{post.title}}</a></span>
        <p>{{post.content}}</p>
      </div>
      <div class="card-action">
        by <a href="#">{{post.author}}</a> <a href="#">{{post.date_posted}}</a>
      </div>
    </div>
  </div>
</div>
{%endfor%} 
{%if is_paginated %}
 <ul class="pagination">
    {% if page_obj.has_previous %}
      <li ><a href="?page={{page_obj.previous_page_number}}"><i class="material-icons">chevron_left</i></a></li>
      <li><a href="?page=1">First</a></li>
    {%endif%}
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="active"><a href="?page={{num}}">{{num}}</a></li>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
              <li class="waves-effect"><a href="?page={{num}}">{{num}}</a></li>
      {% endif %}
    {% endfor %}
   {% if page_obj.has_next %}
       <li><a href="?page={{page_obj.paginator.num_pages}}">Last</a></li>
       <li class="waves-effect"><a href="?page={{page_obj.next_page_number}}"><i class="material-icons">chevron_right</i></a></li>
    {%endif%}
  </ul>
  {%endif%}
{%endblock%}
